header {
  font-family: inherit !important;
  margin-bottom: 0;
}

header h4 {
  font-size: 16px;
  color: #757575;
}

header h4 a {
  color: #757575;
}

header .search-home {
  margin: 50px 0 -7px 0 !important;
  z-index: 100;
}

@media screen and (max-width: 500px) {
  header .search-home {
    margin-top: 30px !important;
    margin-bottom: -4px !important;
    width: 150px;
    height: auto;
  }
}

.search-container {
  margin-top: 0;
}

@media screen and (max-height: 400px) {
  .search-container {
    margin-top: 30px;
  }
}
